.dropzone {
  // background-color: darkgoldenrod;
  // position: relative;
  // z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  flex-flow: column wrap;

  // width: 100%;
  // // font-weight: 12;
  // height: 100%;
  // border: 2px dashed #ff0000;
  // border-radius: 50%;
  // background: white ;
  opacity: 0;
  // top: 122px;
  // left: 104.2px;
  cursor: pointer;
  // margin-top: 29%;
  // margin-left: 25%;


  input[type='file'] {
    color: rgba(0, 0, 0, 0);
    margin-left: 3%;
  }

  height: 140px;
  width: 140px;
  border-radius: 75px;
  &:hover {
    opacity: 1;
}
}


.dropzone.hovering {
  border: 2px solid #00f839;
  color: #dadada !important;
}
.dropzone .file-label {
  font-size: 0.8em;
}
progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
  