$bodyFont: sfProTextRegular;
$titleFont: sfProTextMedium;

@font-face {
    font-family: sfProTextRegular;
    src: url(/assets/fonts/SFProTextRegular.ttf);
}

@font-face {
    font-family: sfProTextMedium;
    src: url(/assets/fonts/SFProTextMedium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #212121;
}

$azulOscuro: #112e51;
$AzulMedio: #205493;
$AzulClaro: #0071bc;
$text: #212121;

.searchBar{
    position: sticky;
    z-index: 1;
    top: 55px;
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 5px;
}
.container{
    width: 100%;
    // height: 100vh;
    position: relative;
    margin-bottom: 100px;
    // margin-top: 0px;
    // background-color: hotpink;

    .bookImg{
        width: 100%; /* width of container */
        height: 200px; /* height of container */
        object-fit: cover;
    }

    .cuerpoText{
        padding-left: 12%;
        padding-right: 12%;
        // background-color: indianred;
        justify-content: center;
        margin-bottom: 50px;
        

        h1{
            font-size: 30px;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 0.5%;
            color: $AzulMedio;
            // background-color: aqua;
        }
        
        h2{
            font-size: 20px;
            text-align: center;
            margin-bottom: 3%;
            color: $AzulClaro;
        }

        .contenedorStars{

            // background-color: aqua;
            margin-bottom: 3%;
            display: flex;
            justify-content: center;
            margin-top: -2%;

            .stars{
                width: 10%;
                height: 10%;
                margin-right: 2%;
                // background-color:cadetblue;
            }
        }

        .contenedorTags{
            // background-color: aquamarine;
            // margin-bottom: 3%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            font-size: 18px;
            
            .tags{
                margin-right: 2%;
                color: $AzulClaro;
            }
        }


        .descripcion{
            margin-bottom: 5%;
            text-align: justify;
        }


        .comentario{
            // background-color: yellow;
            margin-bottom: 15px;

            .user{
                color: $AzulClaro;
                margin-left: 5px;
                font-size: large;
            }

            .commentText{
                margin-left: 5px;
            }

            .commentPhoto{
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: solid 1px $text;
            }
        }

    }
    
}

