<!----------------------------------------------------------- INICIO HEADER ------------------------------------------->
<div class="navbar navbar-default">
    <div class="containerHeader">
        <div class="navbar-header">
            <img class="logo" src="../../../../../../assets/img/logobook.png" alt="">
            <a href="#" class="app-name">Nombre aplicación</a>
            <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/ProfileIcon.png" alt="">
            <img class="bell" src="../../../../../../assets/img/bell.png" alt="">
        </div>
    </div>
</div>

<!----------------------------------------------------------- FIN HEADER ---------------------------------------------->
<div class="container">
    <div *ngFor="let book of bookList">
        <img [src]="book.Portada" alt="imagenes" class="bookImg">
        <div class="cuerpoText">
            <h1 align="center" >{{book.Title}}</h1>
            <h2 align="center" >{{book.Autor}}</h2>
            <img class="stars" src="../../../../assets/img/stars.png" alt="">
            <div class="descripcion">
                <a href="">{{book.Descripcion}}</a>
            </div>        
            <label for="text">Comentarios
                <input type="text" class="inputComentarios">
            </label>        
        </div>
        <div class="librosRecomendados">

        </div>
        <button>Agregar a mi lista</button><br>
        <button>Leer</button>
    </div> 
</div>
<!----------------------------------------------------------- INICIO FOOTER ------------------------------------------->
<nav class="navbar">
    <div class= "containerFooter">      
      <div class="navbar-brand">
        <a class="navbar-item">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/book.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/widgetsIcon.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/groupIcon.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/ProfileIcon.png" alt="">
        </a>
      </div>
    </div>    
  </nav>

<!----------------------------------------------------------- FIN FOOTER ------------------------------------------->