<input type="text" name="searchBoxTag" placeholder="Buscar ..." [(ngModel)]="searchBoxTag">
<div class="container" >

        <div *ngFor="let tags of tagsListNew | filterTags:searchBoxTag ; let i = index">

            <input type="hidden" id="{{'key'+i}}">    

            <div class="tagscont form-row">
                <img (click)="sendTags('categoria-'+i)" id="{{'tags'+i}}"  src="../../../../assets/img/addImg.svg" alt="tag" class="tagImg">
                <h1 (click)="sendTags('categoria-'+i)" id="{{'categoria'+i}}" align="center" >{{tags.Categoria}}</h1>
            </div>
        </div>

    <button (click)="goToHome()">Continuar</button>
</div>