<app-navigation-bar></app-navigation-bar>


<div [formGroup]="ngFormProfile" class="container" >
    <div class="PerfilPhoto" >
        <app-file-upload  (imgUrlEmitter)="getImg($event)"></app-file-upload> 
        <img class="Photoimg" src="../../../../../../assets/img/NoImage.png" srcset="" alt="" id="img">
        <div class="ContainerDescription">
            <div class="textN">Nombre:</div>
            <h1  class="name"></h1>
            <label for="descripcion">Descripción
                <input id="descripcionID" formControlName="descripcion" type="text" class="inputDescripcion" >
            </label>
            <button (click)="SendDescription()" class="decripcionButton">Actualizar</button>    
        </div>
        
      <div class="ContainerTags" >
        <h1>Mis tags:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Tag</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let misTags of misTagsList; let i = index" id="{{'contTag'+i}}">
                    <th><label id="{{'mitag'+i}}">{{misTags.Tags}}</label></th>
                    <th><img (click)="deleteSth('eliminate-'+i)" id="{{'eliminate'+i}}"  src="../../../../assets/img/xIcon.svg" alt="tag" class="tagImg"></th>
            
                </tr>
                </tbody>
            </table>
            <button (click)="goToTags()">Añadir nuevos tags</button>   
        </div>
        <label for="">Mis Libros</label>
        <div class="mislibros" *ngFor="let misLibros of misLibrosList; let i = index" >          
          <img id="{{'imagen'+i}}"  [src]="misLibros.Imagen" alt="imagenes" class="bookImg">
          <h1 id="{{'titulo'+i}}"  align="center" >{{misLibros.Titulo}}</h1>
          <h2 id="{{'autor'+i}}"  align="center" >{{misLibros.Autor}}</h2>
        </div>  
        
    </div>
</div>

<app-footer></app-footer>