<app-navigation-bar></app-navigation-bar>

<div class="app">
    <div class="container" [formGroup]="ngFormProfile">

        <div class="perfilContainer">

            <div class="photoContainer">
                <app-file-upload (imgUrlEmitter)="getImg($event)"></app-file-upload>
                <img class="Photoimg" src="../../../../../../assets/img/NoImage.png" srcset="" alt="" id="img">
            </div>


            <div class="ContainerDescription">
                <h1 class="name"></h1>
                <textarea id="descripcionID" formControlName="descripcion" type="text"
                    class="inputDescripcion"></textarea>
                <label for="descripcion">


                </label>
                <button (click)="SendDescription()" type="submit" class="button is-info"
                    style="padding: 5px;">Actualizar
                    descripción</button>
            </div>



            <div class="tagsContainer">

                <h1 class="name" style="margin-top: 20px;">Mis tags</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="color: #205493;">Tag</th>
                            <th scope="col" style="color: #205493;">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let misTags of misTagsList; let i = index" id="{{'contTag'+i}}">
                            <th><label id="{{'mitag'+i}}">{{misTags.Tags}}</label></th>
                            <th><img (click)="deleteSth('eliminate-'+i)" id="{{'eliminate'+i}}"
                                    src="../../../../assets/img/xIcon.svg" alt="tag" class="tagImg"></th>

                        </tr>
                    </tbody>
                </table>
                <button (click)="goToTags()" type="submit" class="button is-info"
                    style="padding: 5px; width: max-content;">Añadir nuevos
                    tags</button>
            </div>
        </div>




        <!-- <label for="">Mis Libros</label>
        <div *ngFor="let misLibros of misLibrosList; let i = index" ">

            <img id="{{'imagen'+i}}" [src]="misLibros.Imagen" alt="imagenes" class="bookImg">
            <h1 id="{{'titulo'+i}}" align="center">{{misLibros.Titulo}}</h1>
            <h2 >{{misLibros.Autor}}</h2>
            <img (click)="deleteBook('eliminate-'+i)" id="{{'eliminate'+i}}" src="../../../../assets/img/xIcon.svg"
                alt="tag" class="tagImg">

        </div>


 -->



        <div class="librosContainer">

            <h1 class="name" style="margin-top: 40px;">Mis Libros</h1>


            <ngb-carousel>
                <ng-template *ngFor="let misLibros of misLibrosList; let i = index" id="{{'mislibros'+i}}" ngbSlide>
                    <div>
                        <img (click)="deleteBook('eliminate-'+i)" id="{{'eliminate'+i}}"
                            src="../../../../assets/img/xIcon.svg" alt="tag" class="tagImg">
                        <div class="picsum-img-wrapper">
                            <img class="portadaImg" id="{{'imagen'+i}}" [src]="misLibros.Imagen"
                                alt="Random first slide">

                        </div>
                        <div class="carousel-caption" style="z-index: 0;">
                            <h3 id="{{'titulo'+i}}" align="center">{{misLibros.Titulo}}</h3>
                            <p id="{{'autor'+i}}" align="center" style="margin-bottom:10px">{{misLibros.Autor}}</p>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>



        <h1 class="name" style="margin-top: 20px;">Mis Amigos</h1>
        <div *ngFor="let misAmigos of misAmigosList; let i = index" class="{{'containerAmigos'+i}}" id="friendsContainer">
            <img id="{{'foto'+i}}" [src]="misAmigos.ImagenAmigo" alt="foto" class="friendImg">
            <p class="friendsName">{{misAmigos.NombreAmigo}}</p>
            <img (click)="deleteFriend('eliminate-'+i)" id="{{'eliminate'+i}}" src="../../../../assets/img/xIcon.svg" alt="tag" class="tagImg2">
        </div>


    </div>
</div>

<app-footer></app-footer>