// colors
// #0071bc
// #205493
// #112e51
// #212121

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    position: fixed;
    background-color: #205493;
    align-items: center;
    display: flex;
    //border-radius: 0% 0% 20px 20px;
    // border-bottom: 80px solid lightblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .navbar-header{
        
        .logo{
            width: 8%;
            height: 8%;
            // margin: 2%;
            margin-left: 2%;
            align-self: center;
            padding: 0.5%;
            
        }

        .bell{
            width: 7%;
            height: 7%;
            // margin: 2% 2% 2% 35%;
            margin-left: 55%;
        }

        .app-name{
            margin-top: 60%;
            margin-left: 2%;
            color: white;
            position: relative;
            font-family: Helvetica;
            font-size: large;
        }
    }
}