<app-navigation-bar></app-navigation-bar>



<input type="text" name="searchBoxExternal" placeholder="Buscar ..." [(ngModel)]="searchBoxExternal">


<div class="container">

    

    <div  *ngIf="viewProfile == false"  class="container">

        <h1 id="name">Encuentra Amigos</h1>

        <div class="card" style="width: 18rem; margin-bottom: 15px;" *ngFor="let user of registerList | filterExternalProfiles:searchBoxExternal; let i = index" >
            <img class="card-img-top" alt="Card image cap" ng-change="viewExternalProfile(user.email)" (click)="viewExternalProfile(user.email)" id="{{'imagen'+i}}"  src="../../../../../../assets/img/NoImage.png" alt="imagenes" class="userImg">
              

            <div class="card-body">
                <h1 style="display: none;" id="{{'correo'+i}}"  align="center" >{{user.email}}</h1>
                <h1 class="card-title" (click)="viewExternalProfile(user.email)" id="{{'nombre'+i}}"  align="center">{{user.name}}{{user.lname}}</h1>
                <p class="card-text" id="{{'descripcion'+i}}"  align="center">Aquí irá la descripción de cada persona. Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                <button class="button is-info" style="margin-right: 10px;" (click)="viewExternalProfile(user.email)">Ver Perfil</button>
                <button class="button is-info"  id="{{'button-'+i}}" (click)="addFriend(i)">Agregar amigo</button>
            </div>

   
            
        </div> 
    </div>



    <!-- ---------------------------------------------------VIEW PROFILE----------------------------------------------- -->
<div *ngIf="viewProfile == true" class="containerView" >
    <button (click)="gotoExternalProfile()">Volver</button>
    <div class="PerfilPhoto" >
        <img  class="Photoimg" src="../../../../../../assets/img/NoImage.png" srcset="" alt="" id="img">
        <button id="boton" (click)="addFriendInsidePerfil()">Agregar amigo</button><br>
        <div class="ContainerDescription">
            <div class="textN">Nombre:</div>
            <h1  class="name"></h1>
            <label for="descripcion">Descripción
                <input id="descripcionID" type="text" class="inputDescripcion" >
            </label> 
        </div>
        
      <div class="ContainerTags" >
        <h1>Sus tags:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Tag</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let susTags of susTagsList; let i = index" id="{{'contTag'+i}}">
                    <th><label id="{{'mitag'+i}}">{{susTags.Tags}}</label></th>            
                </tr>
                </tbody>
            </table>   
        </div>
        <label for="">Sus Libros</label>
        <div class="susLibros" *ngFor="let susLibros of susLibrosList; let i = index" >          
          <img id="{{'imagen'+i}}"  [src]="susLibros.Imagen" alt="imagenes" class="bookImg">
          <h1 id="{{'titulo'+i}}"  align="center" >{{susLibros.Titulo}}</h1>
          <h2 id="{{'autor'+i}}"  align="center" >{{susLibros.Autor}}</h2>
        </div>  
        
    </div>
</div>
</div>




<app-footer></app-footer>

