$bodyFont: sfProTextRegular;
$titleFont: sfProTextMedium;

.searchBarContainer {
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: #F6F6F6;
    .searchIcon {
        width: 24px;
        height: 24px;
        left: 24px;
        position: absolute;
        cursor: pointer;
    }
    .searchBarText {
        font-size: 13.5px;
        position: absolute;
        left: 77px;
        color: #919191;
        cursor: text;
    }
    .searchBar {
        width: 95%;
        height: 35px;
        padding: 0 32px 0 65px;
        background: white;
        border-radius: 100px;
        border-style: none;
        outline: none;
        font-size: 13.5px;
        font-family: $titleFont;
    }
}