<!----------------------------------------------------------- INICIO HEADER ------------------------------------------->
<div class="navbar navbar-default">
    <div class="containerHeader">
        <div class="navbar-header">
            <img class="logo" src="../../../../../../assets/img/logobook.png" alt="">
            <a href="#" class="app-name">Nombre aplicación</a>
            <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/ProfileIcon.png" alt="">
            <img class="bell" src="../../../../../../assets/img/bell.png" alt="">
        </div>
    </div>
</div>

<!----------------------------------------------------------- FIN HEADER ---------------------------------------------->

<div [formGroup]="ngFormProfile" class="container" >
    <div class="PerfilPhoto" >
        <app-file-upload  (imgUrlEmitter)="getImg($event)"></app-file-upload> 
        <img class="Photoimg" src="../../../../../../assets/img/NoImage.png" srcset="" alt="" id="img">
        <div class="ContainerDescription">
            <div class="textN">Your name</div>
            <h1  class="name"></h1>
            <label for="descripcion">Descripción
                <input formControlName="descripcion" type="text" class="inputDescripcion" >
            </label>
            <button (click)="SendDescription()" class="decripcionButton">Actualizar</button>    
        </div>
        
    </div>
</div>

<!----------------------------------------------------------- INICIO FOOTER ------------------------------------------->
<nav class="navbar">
    <div class= "containerFooter">      
      <div class="navbar-brand">
        <a class="navbar-item">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/book.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/widgetsIcon.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/groupIcon.png" alt="">
          <img (click)="goToHome()" class="profile" src="../../../../../../assets/img/ProfileIcon.png" alt="">
        </a>
      </div>
    </div>    
  </nav>

<!----------------------------------------------------------- FIN FOOTER ------------------------------------------->
